@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.library main {

  margin: 10%;
}

.card {
  width: 20%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 2%;
  ;
}

.image img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;



}

.title {

  text-align: center;
  padding: 10px;

}

.library h1 {
  font-size: 30px;
  color: black;
}

.legal {
  font-size: 80px;
  color: black;
  font-family: Bebas Neue;
  text-align: center;
}

.legalp {
  font-family: Roboto Condensed;
  text-align: center;
  font-size: 18px;
  margin: 30px;
}

.des {
  padding: 2px;
  text-align: center;

  padding-top: 5px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.library button {
  margin-top: 30px;
  margin-bottom: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.library button:hover {
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
}